form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    margin: 10px;
    padding: 20px;
    background: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    margin: 10px;
    width: 100%;
}

button {
    margin: 10px;
    height: 30px;
    width: 100%;
}


@media (max-width: 320px) {
    div {
        width: 90%;
    }

    input, button {
        width: 100%;
    }
}

@media (max-width: 540px) {
    div {
        width: 80%;
    }

    input, button {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    div {
        width: 60%;
    }

    input, button {
        width: 100%;
    }
}
